{% load cache %}
{% load static %}


<div class="container">
    <h1>Жанры</h1>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <a hx-get="{% url 'create-genre' %}" hx-target="#game_view" class="add_game-card">
            {% cache 500 create %}
                <div class="card h-100">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <i class="bi bi-plus-circle-dotted" style="font-size: 5rem; color: gray"></i>
                    </div>
                </div>
            {% endcache %}
        </a>
        {% for genre in genres %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ genre.name }}</h5>
                        <p class="card-text">{{ genre.description|truncatewords:20 }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group">
                            <a hx-delete="{% url 'genre-delete' genre.id %}" hx-target="#game_view" class="btn btn-outline-danger"><i
                                    class="bi bi-trash2-fill"></i></a>
                            <a hx-get="{% url 'genre-edit' genre.id %}" hx-target="#game_view" class="btn btn-outline-secondary"><i
                                    class="bi bi-pencil-fill"></i></a>
                            <a hx-get="{% url 'genre-view' genre.id %}" hx-target="#game_view" class="btn btn-outline-secondary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>