{% extends 'layout.html' %}
{% load static %}

{% block style %}{% static 'genre/css/view.css' %}{% endblock %}

{% block content_main %}
    <div class="game-detail-container">
        <div class="game-detail-card">
            <h3>{{ genre.name }}</h3>
            <hr>
            <div class="game-detail-info">
                <div class="game-detail-left">
                    {% with description=genre.description %}
                        {% if description %}
                            <p><strong>Описание:</strong></p>
                            <p>{{ description }}</p>
                        {% else %}
                            <p><strong>Описание:</strong> Нет</p>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}