{% extends 'layout.html' %}
{% load static %}

{% block style %}{% static 'price/css/price.css' %}{% endblock %}

{% block content_main %}
    <div class="container">
        <h1>Цены</h1>
        <br>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <a href="{% url 'create-price' %}" class="add-card">
                <div class="card h-100">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <i class="bi bi-plus-circle-dotted" style="font-size: 5rem; color: gray"></i>
                    </div>
                </div>
            </a>
            {% for price in prices %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ price.game }}</h5>
                            <p class="card-text">{{ price.name }}: {{ price.price }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group">
                                <a href="{% url 'price-delete_game' price.pk %}" class="btn btn-outline-danger"><i
                                        class="bi bi-trash2-fill"></i></a>
                                <a href="{% url 'price-edit_game' price.pk %}" class="btn btn-outline-secondary"><i
                                        class="bi bi-pencil-fill"></i></a>
                                <a href="{% url 'price-view_game' price.pk %}" class="btn btn-outline-secondary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}