{% extends 'layout.html' %}
{% load static %}
{% load custom_tag_price %}

{% block style %}{% static 'game/css/view.css' %}{% endblock %}

{% block content_main %}
    <div class="game-detail-container">
        <div class="game-detail-card">
            {% view_games price.game as name_game %}
            <h3>{{ name_game }}</h3>
            <hr>
            <div class="game-detail-info">
                <div class="game-detail-left">
                    <p><strong>Магазин:</strong> {{ price.name }}</p>
                    <p><strong>Цена:</strong> {{ price.price }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}