{% extends 'layout.html' %}
{% load static %}

{% block style %}{% static 'game_platform/css/delete.css' %}{% endblock %}

{% block content_main %}
    <div class="center">
        <form method="post" class="card">
            {% csrf_token %}
            <h2>Удаление игры</h2>
            <p>Вы точно хотите удалить платформу "{{ platform }}"?</p>
            <p class="form-buttons">
                <input type="submit" class="btn btn-primary" value="Удалить">
                <a href="{% url 'platform' %}" class="btn btn-outline">Назад</a>
            </p>
        </form>
    </div>
{% endblock %}
