{% extends 'layout.html' %}

{% load static %}
{% load rest_framework %}

{% block title %}Добавление игры{{ title }}{% endblock %}
{% block style %}{% static 'game/css/create.css' %}{% endblock %}

{% block content_main %}
        <form method="POST" class="game-form">
            {% csrf_token %}
{#            {{ form.non_field_errors }}#}
{#            {% for field in form %}#}
{#                {{  field.label_tag }}  {{ field }} <span class="errorlist">{{ field.errors }}</span>#}
{#            {% endfor %}#}
             {% render_form form %}
            <button class="btn btn-success" type="submit">Добавить игру</button>
        </form>
{% endblock %}





